.outer{
    min-width: 1280px;
    min-height: 900px;

    width: 100vw;
    height: 100vh;

    position: relative;
}
.inner{
    width: 1280px;
    margin: auto;
}
.headerInner{
    position: fixed;
    left: 50%;
    top: 0;

    transform: translate(-50%);

    z-index: +2;
}
.header{
    width: 100%;
    height: 100px;
    
    background-color: rgba(255,255,255,0.5);

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 0px 30px;
}
.headerNav{
    height: 100%;
    position: relative;
}
.gnbWrap{
    height: 100%;
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.gnb{
    height: 100%;
    cursor: pointer;

    font-size: var(--h5-size);
    font-weight: 700;

    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 0px 30px;

    position: relative;
    transition: 0.5s;
}
.gnb:hover{
    color: var(--primary-color);
}
/* .gnb::after{
    position: absolute;
    content: "";

    width: 18px;
    height: 10px;
    background-image: url("../assets/icon/downVectorWhite.svg");
    background-size: contain;
    background-repeat: no-repeat;

    right: calc(0% - 0.3rem);
    top: 50%;

    transform: translate(-50%, -50%);
} */
.snbWrap{
    position: absolute;

    bottom: 0;
    left: 0;

    transform: translate(0% , 100%);
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 100px;
    
    background-color: rgba(255,255,255,0.5);

    display: flex;
    justify-content: center;
    align-items: center;
    
    z-index: +2;
}
.swiper{
    width: 100%;
    height: 100%;
}
.swiper-slide{
    display: flex !important;
    justify-content: center;
    align-items: center;

    position: relative;
}
.swiper-slide > img{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: 0.5;
}

.swiper-pagination{
    right: var(--swiper-pagination-right, 50px) !important;
}
.swiper-pagination-bullet {
    box-sizing: content-box;
    
    width: 1.5rem !important;
    height: 1.5rem !important;
    margin: 35px 0px !important;

    border: 4px solid rgba(255,255,255,0.5);
    background-color: white !important;
    opacity: 0.5 !important;

}
.swiper-pagination-bullet.swiper-pagination-bullet-active{
    opacity: 1 !important;
    width: 1.5rem !important;
    height: 1.5rem !important;
    background-color: var(--primary-color) !important;
}