.mainSwiper,
.subSwiper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.swiper-slide {
  width: 100% !important;
  height: 100% !important;

  position: relative;
}
.swiperInner {
  padding: 120px 40px 0px 40px;
  width: 100%;
  height: 100%;

  overflow: hidden;
}

.swiper1Title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
}

.swiper1Img {
  width: 100%;
  height: clamp(500px, 70vh, 756px);

  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 59.18%,
    rgba(0, 0, 0, 0.6) 100%
  );

  position: relative;

  overflow: hidden;
}
.swiper1Img > img {
  position: absolute;
  min-width: 100%;
  width: auto;
  min-height: 100%;
  left: 50%;
  top: 0%;
  transform: translate(-50%, 0%);
}

.swiper-pagination {
  width: fit-content !important;
  left: auto !important;
  right: 270px !important;
  bottom: 128px !important;
  transform: translate(0%, 50%) !important;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px !important;
}
.swiper-pagination-bullet {
  box-sizing: content-box;

  width: 8px !important;
  height: 8px !important;
  margin: 0px !important;

  border: 1px solid white !important;
  background-color: transparent !important;
  opacity: 1 !important;
  transition: 0.2s;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 64px !important;
  border-radius: 19px !important;
  background-color: white !important;
}
.swiper-button-next,
.swiper-button-prev {
  box-sizing: content-box;
  padding: 1rem;
  top: auto !important;
  bottom: 128px !important;
  transform: translate(0%, 52%) scale(0.5);
  color: rgba(255, 255, 255, 0.8) !important;
  transition: 0.2s;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: white !important;
}

.swiper-button-prev {
  left: auto !important;
  right: 395px !important;
}
.swiper-button-next {
  left: auto !important;
  right: 195px !important;
}
.swiperNavigationWrap {
  position: absolute;
  left: 40px;
  top: 50%;
  transform: translate(0%, -50%);
  z-index: +1;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}
.swiperNavigation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;

  padding: 5px 0px;
}
.swiperNavigation > .circle {
  width: 8px;
  height: 8px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: transparent;

  transition: 0.5s;
}
.white .swiperNavigation > .circle {
  border: 1px solid white;
}
.swiperNavigation.on > .circle {
  background-color: black;
  width: 40px;
  border-radius: 20px;
  transition: 0.5s;
}
.white .swiperNavigation.on > .circle {
  background-color: white;
}
.swiperNavigation > span {
  color: black;
  font-weight: 500;
  transition: 0.5s;
}
.white .swiperNavigation > span {
  color: white;
}
